@(username: String, person: Form[Person])(implicit flash: play.api.mvc.Flash)

@main("Edit " + person("fullname").value.getOrElse("Unknown")) {
<header class="navbar navbar-fixed-top">
  <nav>
  	<ul class="nav nav-tabs">
      <li style="float: right;" class="logout"><a href="@routes.Application.logout">Sign out</a></li>
      <li style="float: right;" class="signedin">Signed in as @username</li>
    </ul>
 </nav>
</header>
  
 <div id="Wrapper">
    <div id="Container">
	    <div class="left">
	        <div class="col">
	            <div class="chat-wrapper">
	            	     <h1><img class="img-thumbnail" src="http://www.gravatar.com/avatar/@person.value.map(_.md5)?d=mm&s=80">
                     	 @person.value.map(_.fullname) <!-- <span style="font-size:12px" class="label label-success">sdu</span> <span style="font-size:12px" class="label label-info">france</span>--></h1>
	            	
	            	 @flash.get("success").map { message =>
        				<div class="alert alert-success">
            				@message
        				</div>
    				}
    				<form action="@routes.Application.update(person("dn").value.get)" class="form-horizontal" role="form" method="POST">
    				<input type="hidden" value="@person("dn").value" name="dn"/>
	            	<input type="hidden" value="@person("tags").value" name="tags"/>
	            	<input type="hidden" value="@person("lastname").value" name="lastname"/>
	            	<input type="hidden" value="@person("alternatePhone").value" name="alternatePhone"/>
	            	
	            	
	            	<div style="margin: 50px 0 20px">
	            		
	            	   <div class="form-group">
						    <label for="fullname" class="col-sm-2 control-label">Full name</label>
						    <div class="col-sm-10">

           				     <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full name" value="@person("fullname").value"> <span class="error">@person.error("fullname").map(x => Messages(x.message))</span>
						    </div>
						   </div>

						  <div class="form-group">
						    <label for="address" class="col-sm-2 control-label">Address</label>
						    <div class="col-sm-10">
						      <textarea class="form-control" id="address" name="address" placeholder="Address" rows="4">@person("address").value</textarea>
						    </div>
						  </div>

	
						  <div class="form-group">
						    <label for="officePhone" class="col-sm-2 control-label">Office phone number</label>
						    <div class="col-sm-10">
						     <input type="text" class="form-control" id="officePhone" name="officePhone" placeholder="Office phone number" value="@person("officePhone").value"><span class="error">@person.error("officePhone").map(x => Messages(x.message))</span>
						    </div>
						  </div>
						

						  <div class="form-group">
						    <label for="mobilePhone" class="col-sm-2 control-label">Mobile phone number</label>
						    <div class="col-sm-10">
						     <input type="text" class="form-control" id="mobilePhone" name="mobilePhone" placeholder="Office phone number" value="@person("mobilePhone").value"><span class="error">@person.error("mobilePhone").map(x => Messages(x.message))</span>
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="homePhone" class="col-sm-2 control-label">Home phone number</label>
						    <div class="col-sm-10">
						     <input type="text" class="form-control" id="homePhone" name="homePhone" placeholder="Home phone number" value="@person("homePhone").value"><span class="error">@person.error("homePhone").map(x => Messages(x.message))</span>
						    </div>
						  </div>
						
						  <div class="form-group">
						    <label for="email" class="col-sm-2 control-label">Email</label>
						    <div class="col-sm-10">
						     <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="@person("email").value"><span class="error">@person.error("email").map(x => Messages(x.message))</span>
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="displayName" class="col-sm-2 control-label">Display name</label>
						    <div class="col-sm-10">
						     <input type="text" class="form-control" id="displayName" name="displayname" placeholder="Display name" value="@person("displayname").value">
						    </div>
						  </div>

						
		
	            	</div>

	            </div>
	        </div>
	    </div>
	    <div class="sidebar" >
	    	<div class="button"><input type="submit" class="btn btn-primary" role="button" value="Save"/> or <a href="@routes.Application.index()">Cancel</a></div><div>
            <div>
              <h3><a href="">Related actions</a></h3>
              <ul class="related-actions">
            	<li><i class="fa fa-trash-o"></i> <a href="@routes.Application.delete(person.value.map(_.dn).getOrElse(""))">Delete this entry</a></li>
              </ul>
            </div>
        </div>
		</form>
       
               
	</div>
</div>

}
